<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
      <a href="#" class="logo d-flex align-items-center me-auto">
        <h1 class="sitename">Friender</h1>
      </a>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'home' %}" class="">Home</a></li>
          <li><a href="{% url 'hotels' %}">Hotels</a></li>
          <li><a href="{% url 'guest_list' %}">Users</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      <div style="margin-left: 150px;"><a href="{% url 'logout' %}">Logout</a></div>
    </div>

  </header>