{% extends 'base.html' %}

{% load static %}

{% block title %}Home | Friender{% endblock %}

{% block content %}

<section id="hero" class="hero section">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1 class="">Home</h1>
                <p class="">Websites with Bootstrap</p>
            </div>
            <!-- <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="{% static 'img/hero-img.png' %}" class="img-fluid animated" alt="">
            </div> -->
        </div>
    </div>

</section>
{% endblock %}