{% extends 'base.html' %}
{% load static %}
{% block title %}Users | Friender{% endblock %}

{% block content %}
<section id="team" class="team section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Users</h2>
    </div>
    <div class="add_user_button_container">
        <a href="{% url 'add_guest' %}" class="btn btn-primary">Add user</a>
    </div>
    <div class="container">
        <div class="row gy-4">
            {% for item in guests %}
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="team-member d-flex align-items-start">
                    <div class="pic">
                        {% if item.guest.profile and item.guest.profile.photo %}
                        <img src="{{ item.guest.profile.photo.url }}" class="img-fluid" alt="User Photo">
                        {% else %}
                        <img src="{% static 'img/user.avif' %}" class="img-fluid" alt="">
                        {% endif %}
                    </div>
                    <div class="member-info">
                        <h4>{{item.guest.first_name}} {{item.guest.last_name}}</h4>
                        <span>Age: {{item.guest.age}}</span>
                        {% if item.guest.email %}
                        <p>email: {{item.guest.email}}</p>
                        {% endif %}
                        {% for service in item.services %}
                        <p>{{service}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}